.hero-section {
  background-color: #ffffff;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}


.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
